-
  var header = '#experience'
  var experienceList = [
    {
      title: 'Minicab Driver',
      date: 'from Oct2017 to Present',
      company: 'Uber',
      responsabilityList: [
        'Providing excelent customer service.',
        'Keep the car clean and tidy.',
        'Make sure the riders were safe during the trip.',
      ]
    },
    {
      title: '7.5ton Recovery Technician',
      date: 'from Jan 2017 to Oct 2017',
      company: 'Kavanagh Motor Group',
      responsabilityList: [
        'I had to check the vehicle every morning to ensure that is roadworthy and in good working condition.',
        'Arrive in the estimated time to any customers and ensure their safety while the recovery process was in place.',
        'Make sure not to damage any vehicles in the recovery process or on rute at any time.',
      ]
    },
    {
      title: 'Van Delivery Driver',
      date: 'from Oct 2016 to Jan 2017',
      company: 'Serious Food Distribution',
      responsabilityList: [
        'Load the van every morning and make sure that all products were there acording to teh invoices.',
        'Deliver the products in time early mornings for the customers staff to have enough time to prepare their menu.',
        'Help other co-workers with their delivery if any issues arise.',
      ]
    }
  ];

#experience
.experience
  .experience__header=header
  input(type="radio", name="same-name", id="experience-default")
  label(for="experience-default") &times;
  each experience, key in experienceList
    input.experience__input(type="radio", name="same-name", id=`experience-id-${key}`)
    label.experience__title(for=`experience-id-${key}`)=experience.title
    .experience__details
      .experience__top
        .experience__date=experience.date
        .experience__company=experience.company
      .experience-list
        each responsability in experience.responsabilityList
          .experience__responsability=responsability