//- data comes here
-
  var header = '#about me'
  var imagePath = "asset/image/catalin-sandru-avatar.jpg"
  var myFullName = "Catalin Valerian Sandru"
  var myTitle = "Dragon Trainer"
  var slogan =  'I make dragons purr like a kitten'
  var achievement = {
    title: 'achievement',
    content: 'this is the content'
  }

  var coolStuff = {
    title: 'grab cool stuff',
    buttonList: [
      {
        url: 'https://github.com/freebiker2000/My-CV',
        icon: 'github',
        label: 'Click to visit the GitHub project source'
      },{
        url: 'asset/doc/free-cv-killer-template.docx',
        icon: 'file-word',
        label: 'Click to download the cv template'
      }
    ]
  }

//- the view comes here
#about-me
.about-me
  .about-me__header=header
  .about-me__avatar-wrapperr
    img.about-me__avatar(src=imagePath)
  .about-me__full-name=myFullName
  .about-me__title=myTitle
  p.about-me__slogan=slogan

  .about-me__title=achievement.title
  p.about-me__content=achievement.content

  .about-me__title=coolStuff.title
    .about-me__button=list
      each button in coolStuff.buttonList
        a.about-me__link(href=button.url)
          span.about-me__link-description=button.label
          span(class=`my-cv__icon--${button.icon}`)